
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #fafafa;
    color: #787878;
}

body span a:link{
    color: rgb(255, 0, 98);
}

.buttonLink a:link{
    color: black;
}

.buttonLink a:visited{
    color: blue;
}

body span a:visited{
    color: rgb(183, 0, 255);
}

.custom{ 
    border-radius: 10px;
    width: 200px !important;
}

.chat-screen {
    position: fixed;
    bottom: 68px;
    right: 20px;
    z-index: 9999;
    width: 350px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 15px;
    visibility: hidden;
    box-shadow: 0 3px 5px 8px hsl(0, 0%, 60%);
}

.chat-screen.show-chat {
    -moz-transition: bottom 0.5s linear;
    -webkit-transition: bottom 0.5s linear;
    transition: bottom 0.5s linear;
    visibility: visible;
    bottom: 82px;
}

.chat-screen .chat-header {
    background-image: linear-gradient(to right, #01579B, #0277bd, #0288D1, #039BE5, #03A9F4);
    border-radius: 15px 15px 0 0;
    padding: 15px;
    /* display: block; */
    border-bottom: 5px black;
    border-bottom-style:inset;
    
}

.chat-screen .chat-header img{
    height: 40px;
    width: 50px;

}

.chat-screen .chat-header .chat-header-title {
    
    width: calc(100% - 50px);
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 10px;
}

.chat-screen .chat-body {
   
    display: inline-block;
    min-height: 382px;
    max-height: 382px;
    background-size: 400px;
    width: 100%;
    overflow-y: scroll;
      
}

.chat-screen .chat-body img {
    margin-left: 15px;
}

.chat-screen .chat-body .chat-body-wrapper{

    position: relative;
    padding: 25px;
    width: 100%;
    height: 100%;
    
}



.chat-screen .chat-body .body-bg-img{
    position: fixed;
    opacity: 0.6;
    background-position: top left;
    background-repeat: no-repeat;
    width: 300px;
    height: 350px;
    z-index: 0;
}




.chat-screen .chat-body .chat-start {
    border: 1px solid #f8d4ff;
    width: 150px;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
    background: #fff;
}

.chat-screen .chat-body .chat-bubble {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 13px;
    box-shadow: none;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02);
    z-index: 1;
}

.chat-screen .chat-body .chat-bubble.you {
    
    background: rgba(176, 214, 232);
    color: black;
    border-radius: 0 15px 15px 15px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;

}

.chat-screen .chat-body .chat-bubble.you button{
    margin-top: 10px;
}

.chat-screen .chat-body .chat-bubble.me {
    background: rgb(107, 109, 107);
    color: white;
    border-radius: 15px 0px 15px 15px;
    float: right;
    align-self: flex-end;
    display: table;
    border: 1px solid black;
}


.chat-screen .chat-input {
    width: 100%;
    position: relative;
    margin-bottom: -5px;
    
}

.chat-screen .chat-input input {
    width: 100%;
    background: #ffffff;
    padding: 15px 70px 15px 15px;
    border-radius: 0 0 15px 15px;
    resize: none;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #f8f8f8;
    color: black;
    font-weight: normal;
    font-size: 13px;
    transition: border-color 0.5s ease;
}

.chat-screen .chat-input input:focus {
    border-color: #f9dcff;
}

.chat-screen .chat-input input:focus+.input-action-icon a svg.feather-send {
    color: #0277bd;
}

.chat-screen .chat-input .input-action-icon {
    width: 61px;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;
    text-align: right;
}

.chat-screen .chat-input .input-action-icon a {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.chat-screen .chat-input .input-action-icon a svg {
    height: 17px;
    width: 17px;
    color: #a9a9a9;
}

.chat-bot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-image: linear-gradient(to right, #01579B, #0277bd, #0288D1, #039BE5, #03A9F4);
    z-index: 9999;
    border-radius: 30px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0 0 5px 5px hsl(0, 0%, 65%);
}

.chat-bot-icon img {
    height: 90px;
    width: 90px;
    position: absolute;
    right: -13px;
    top: -33px;
}

.chat-bot-icon svg {
    color: #fff;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: transform 0.5s linear;
    position: absolute;
    left: 13px;
    top: 13px;
    opacity: 0;
    z-index: -1;

}

.chat-bot-icon svg.animate {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
    z-index: 1;
}

@media only screen and (max-width: 450px) {
    .chat-screen{
        width: 85vw;
    }
}

